@media (max-width: 767px) {
    .nav__list {
        white-space: nowrap;
        width: 740px;
    }
    .page-header__nav {
        overflow-x: auto;
    }
}
.nav__list {
    padding: 0;
    margin: 15px 0 0;
    border-bottom: 2px solid #e0e0e0;

    li {
        display: inline-block;
        list-style-type: none;

        & + li {
            margin-left: 25px;
        }
    }

    .links {
        position: relative;
        text-decoration: none;
        color: black;
        display: inline-block;
        padding:0 0 10px;

        &:hover:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            bottom: -2px;
            border-bottom: 2px solid#1ab394;
        }
    }

    .active {
        .links:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            bottom: -2px;
            border-bottom: 2px solid #1ab394;
        }
    }
}